body {
    background: black;
}

a, :link, :visited, :hover, :active {
    color: black;
    text-decoration: none;
}

.paper {
    padding: 16px;
}

.fab {
    position: fixed;
    bottom:10px;
    right:10px;
}